body{
    display: flex;
    background-color: hsl(226, 43%, 10%);
    color: white;
    justify-content: center;
    font-family: "Rubik", sans-serif;
}
div{
    border-radius: 15px;
}
h1{
    font-weight: 200;
    font-size: 240%;
}
h2{
    font-weight: 400;
    font-size: 150%;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 15%;
}
.profile{
    grid-row: 1/3;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.profile-report{
    background-color: hsl(246, 80%, 60%);
    padding: 20px;
    font-size: larger;
    font-weight: 300;
}
.profile-options{
    background-color: hsl(235, 46%, 20%);
    
}
.proop{
    padding-left: 20px;
    padding-right: 20px;
    
}
.proop:hover{
    cursor: pointer;
    opacity: 0.7;

}
.work{
    background-color: hsl(15, 100%, 70%);
}
.play{
    background-color: hsl(195, 74%, 62%);
}
.study{
    background-color: hsl(348, 100%, 68%);
}
.exercise{
    background-color: hsl(145, 58%, 55%);
}
.social{
    background-color: hsl(264, 64%, 52%)
}
.self-care{
    background-color: hsl(43, 84%, 65%);
}
.lower-part{
    background-color: hsl(235, 46%, 20%);
    padding: 10px;
}
.lower-part h1{
    margin: 0px;
}
.lower-part:hover{
    cursor: pointer;
    background-color: hsla(235, 25%, 50%, 0.527);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.upper-part{
    height: 20px;
}
.underline{
    text-decoration: underline;
}

@media (max-width : 720px){
    .main-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
        margin-top: 15%;
    }
}